body {
	background-image: url("http://dreamatico.com/data_images/space/space-3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-color:#81F7F3;
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}

body h1 {
	font-size: 5em;
	color: #009999;
	text-align: center;
	font-family: Palatino;
	width: 100%;
	margin-top:40px;
}

body p {
	color: white;
	margin: auto;
	margin-left: 280px;
	margin-right:280px;
	margin-top: 30px;
	font-size: 1.5em;
}

#box {
	width: 850px;
	height: 800px;
	margin: auto;
	margin-bottom: 100px;
	margin-top: -35px;
	background-color:black;
	border-radius: 25px;
	z-index: 2;
}

#box2 {
	width: 850px;
	height: 800px;
	margin: auto;
	margin-bottom: 100px;
	margin-top: -35px;
	background-color:black;
	border-radius: 25px;
	z-index: 2;
}

#menu {
	font-family: Palatino;
	font-size: 1.5em;
	color: white;
	text-align:center;
	z-index: 3;
	margin-top:-885px;
	word-spacing: 10px;
}

.link {
	color: white;
	text-decoration: none;
}

a.link:hover {
	color: #009999;
}

.game {
	margin-left: 100px;
	width: 100px;
	height: 100px;
}

.game img {
	max-height: 100%;
	max-width: 100%;
	margin-top: 320px;
	border: 5px solid white;
	border-radius: 10px;
}

div h5 {
	font-size: 2em;
	color: white;
	text-align: left;
	margin-top: 150px;
	margin-left: 100px;
	font-family: Palatino;
	text-decoration: none;
}

div h5 a:hover {
	color:#81F7F3;
}
